@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .max-width {
    max-width: 1080px;
    margin: 0 auto;
  }

  .action-button {
    @apply font-semibold rounded-full text-jet bg-pale border-[1.5px] border-jet px-4 py-2 disabled:text-gray-400 disabled:border-gray-400;
  }

  .action-button-dark {
    @apply font-semibold rounded-full text-pale bg-jet px-4 py-2;
  }

  .glass-morphism {
    background: rgba(0, 0, 0, 0.13);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.2px);
    -webkit-backdrop-filter: blur(5.2px);
  }
}
